 *  __                  __
 * /\ \                /\ \
 * \ \ \___   __  __   \_\ \     __
 *  \ \  _ `\/\ \/\ \  /'_` \  /'__`\
 *   \ \ \ \ \ \ \_\ \/\ \_\ \/\  __/
 *    \ \_\ \_\/`____ \ \___,_\ \____\
 *     \/_/\/_/`/___/> \/__,_ /\/____/
 *                /\___/
 *                \/__/
 *
 * Designed, built, and released under MIT license by @mdo. Learn more at
 * https://github.com/poole/hyde.
 */


/*
 * Contents
 *
 * Global resets
 * Article area
 * Sidebar
 * Container
 * Reverse layout
 * Themes
 */


/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */

html {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}
@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 20px;
  }
}


/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar {
  position: relative;
  text-align: center;
  padding: 2rem 0rem 0em 0rem;
  color: rgba(255,255,255,.5);
  background-color: #202020;
  background-color: #6a9fb5;
  box-shadow: 5px 0px 5px 1px #B5B5B5;
  height: fit-content;
}
@media (min-width: 48em) {
  .sidebar {
    padding: 2rem 0 0 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 15rem;
    text-align: left;
    box-shadow: 5px 0px 5px 1px #B5B5B5;
  }
}

/* About section */

.sidebar-profile {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto;
  max-width: 15rem;
}

.sidebar-profile .profile-picture {
  grid-column: 1;
  display: grid;
}

.sidebar-profile .profile-picture img {
  margin: auto;
  border-radius: 50%;
  border: 2px solid #5b8da2;
  max-width: 5rem;
}

.sidebar-profile .page-title {
  grid-column: 2;
  
  color: #fff;
  margin: auto 10% auto 0px;
  font-family: "Abril Fatface", serif;
  font-size: 2.5rem;
}

.sidebar .bio {
  margin: 10px 20px;
  font-size: .85rem;
}

/* A horizontal bar of links */
.flex-links {
  display: flex;
}

.flex-links-item {
  display: block;
  padding: .25rem 0.5rem;
  font-weight: bold;
  flex-grow: 1;
  transition: 0.1s;
}

.flex-links-center {
  display: flex;
  justify-content: center;
}

a.flex-links-item:hover,
a.flex-links-item:focus {
  text-decoration: none;
}
.flex-links-item.active {
  color: #6096ac;
  background: #fff;
}
a.flex-links-item.active:hover,
a.flex-links-item.active:focus {
  color: #fff;
}

/* Sidebar nav */
.sidebar-nav {
  height: 2em;
  background: #7dafc4;
}

@media (min-width: 48em) {
  .sidebar-nav {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.sidebar-nav-item { text-align: center; }

.sidebar-nav-item:hover,
.sidebar-links-item:hover {
    background-color: #7fbfd8;
}


/* Sidebar links */
.sidebar-links-item {
    background-color: #528ea6;
    text-decoration: none;
}

.sidebar-links-title { display: none; } /* Disable on mobile */

@media (min-width: 48em) {
    .sidebar-links-title {
        margin-top: 20px;
        margin-bottom: 5px;
        display: block;
        cursor: default;
        text-align: left;
        margin-left: 20px;
        color: white;
    }

    .sidebar-links {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        align-content: stretch;
    }
    .sidebar-links-item {
        text-align: left;
        text-decoration: none;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 20px;
        transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .sidebar-links-item:hover {
        background-color: #7fbfd8;
        padding-left: 50px;
        text-decoration: none;
    }
}

.sidebar .page-title:hover {
  text-decoration: none;
  text-shadow: #202020;
}

.sidebar a {
  color: #fff;
}

/* Article area
 *
 * Mostly uses the theme as specified from poole.css, with a few customizations
 */

.read-more {
  color: #6a9fb5;
  transition: 0.2s;
  transition-property: background, color;
}

.read-more:hover {
  text-decoration: none;
  background: #5e8ca0;
  color: white;
}

.post-title {
  display: block;
  font-size: 2rem;
  line-height: 1.1em;
  font-weight: semibold;
  margin-bottom: 15px;
  color: #6a9fb5;
  transition: 0.2s ease-in-out;
  transition-property: font-size;
}

/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

.content {
  padding-top:    4rem;
  padding-bottom: 4rem;
}

@media (min-width: 48em) {
  .content {
    max-width: 38rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}


/*
 * Reverse layout
 *
 * Flip the orientation of the page by placing the `.sidebar` on the right.
 */

@media (min-width: 48em) {
  .layout-reverse .sidebar {
    left: auto;
    right: 0;
  }
  .layout-reverse .content {
    margin-left: 2rem;
    margin-right: 20rem;
  }
}

@media (min-width: 64em) {
  .layout-reverse .content {
    margin-left: 4rem;
    margin-right: 22rem;
  }
}