{% extends "base.html" %}

{% block metadata %}
	<meta name="description" content="{% if article.description %}{{ article.description }}{% else %}{{ BIO }}{% endif %}">
	<meta property="og:description" content="{% if article.description %}{{ article.description }}{% else %}{{ BIO }}{% endif %}">
	<meta property="og:title" content="{{ article.title }}" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
{% endblock %}

{% block title%}{{article.title}} | {{SITENAME}}{% endblock %}

{% block content %}
<div class="post">
	<title class="post-title">{{ article.title }}</title>
	<span class="post-date">{{ article.locale_date }}</span>
	{{ article.content }}
	{% include 'fragments/disqus.html' %}
</div>
{% endblock %}

