{% extends "base.html" %}

{% block content %}
	<div class="posts">
		{% for article in articles_page.object_list %}
			<div class="post">
				<a class="post-title" href="/{{ article.url }}#{{ article.slug }}">
					{{ article.title }}
				</a>
				<span class="post-date">{{ article.locale_date }}</span>
				<p>
					{{ article.summary }}
				</p>
				<a class="read-more" href="{{ article.url }}">Continue reading »</a>
			</div>
		{% endfor %}
	</div>
	<div class="pagination">

		{% if articles_page.has_previous() %}
		{% set num = articles_page.previous_page_number() %}
		<span class="pagination-item older"><a href="/{{ page_name }}{{ num if num > 1 else '' }}.html">Newer</a></span>
		{% else %}
		<span class="pagination-item older">Newer</span>
		{% endif %}

		{% if articles_page.has_next() %}
		<span class="pagination-item newer"><a href="/{{ page_name }}{{ articles_page.next_page_number() }}.html">Older</a></span>
		{% else %}
		<span class="pagination-item newer">Older</span>
		{% endif %}
	</div>
{% endblock %}
