<div class="sidebar">
	<div class="sidebar-profile">
		<div class="profile-picture">
			<img src="/images/{{ PROFILE_IMAGE }}">
		</div>
		<a class="page-title" href="/"> {{ SITENAME }} </a>
	</div>
	<p class="bio lead">{{ BIO }} </p>

	{% if pages != [] %}
	<div class="flex-links sidebar-links">
		<span class="sidebar-links-title">Links</span>
		{% for page in pages %}	
			<a href="{{ page.url }}" class="flex-links-item sidebar-links-item">
				{{ page.title }}
			</a>
		{% endfor %}
	</div>
	{% endif %}

	<nav class="flex-links sidebar-nav sidebar-nav-center">
		{% for name, link in SOCIAL %}
			{% if name == 'email' %}
				<a class="flex-links-item sidebar-nav-item" href="mailto:{{ link }}">
					<i class="fa fa-envelope"></i>
				</a>
			{% else %}
				<a class="flex-links-item sidebar-nav-item" href="{{ link }}">
					<i class="fa fa-{{ name }}"></i>
				</a>
			{% endif %}
		{% endfor %}
		<a class="flex-links-item sidebar-nav-item" href="{{ FEED_ALL_RSS }}">
			<i class="fa fa-feed"></i>
		</a>
	</nav>
</div>
